:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font);
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
h2,
p {
  font-family: var(--default-font);
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}
.hero h1 {
  font-size: 96px;
  margin-bottom: 40px;
}
.hero h2 {
  font-size: 24px;
  color: #272142;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.btn-branding {
  font-size: 18px;
  line-height: 27px;
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  padding: 15px 30px;
}
.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  background-color: white;
  color: var(--branding-color);
  border-color: var(--branding-color);
  border-radius: 4px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
.hikingpicture {
  padding-top: 20px;
}
.weatherpicture {
  padding-top: 90px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}
